html {
    font-family: Arial;
}

body {
    background-color: whitesmoke;
    text-align: center;
    height: auto;
    width: 100%;
    font-size: 20px;
}

h1 {
    color: purple;
    font-style: italic;
}

.container ul {
    list-style-type: disc;
}

a {
    color: black;
}